<div class="main">
    <div class="container">
        <%#= image_tag "image_#{rand(100..500)}.png.jpg" %>
        <%#= "controller_name: " + controller_name %>
        <%#= "action_name: " + action_name %>
        <%#= "capaign_id: " + params[:campaign_id] %>

        <%#= simple_format controller.get_banner(params[:campaign_id]) %>
        <%= simple_format controller.get_banner(params[:campaign_id]) %>
        <%#= image_tag "image_#{controller.get_banner(params[:campaign_id])}.png.jpg" %>
    </div>
</div>
